<div class="bg-gray-100 py-8 header" *ngIf="hideheader && hideheader2">
    <div class="flex flex-row justify-between items-center mx-5 p-3 rounded-2xl bg-white shadow-sm ">
        <div>
            <p class="font-moto text-2xl" data-aos="fade-right" data-aos-duration="1000">Mohamed Ashik<span class="animate-rainbow text-red-900"> I</span>rfan</p>
        </div>
        <div class="flex flex-row space-x-10 font-sans">
            <button class="hover:scale-150 ease-in-out duration-300" (click)="togo1(); sterio1()" (mouseenter)="jump()"> 
                <img src="home.png" alt="Home" class="w-7 h-7 hue-rotate-180">
            </button>
            <!-- <span class="material-icons">home</span> -->
            <button class=" hover:text-green-500 hover:scale-150 ease-in-out duration-300" (click)="togo2()" (mouseenter)="jump()">About</button>
            <button class=" hover:text-yellow-400 hover:scale-150 ease-in-out duration-300" (click)="togo3()" (mouseenter)="jump()">Skills</button>
            <button class=" hover:text-red-500 hover:scale-150 ease-in-out duration-300" (click)="downloadPDF(); sterio3()" (mouseenter)="jump()">Resume</button>
            <!-- <button class="hover:text-purple-800 hover:ease-linear" (mouseenter)="jump()">ROCXSTAR</button> -->
            <img src="rstar.png" type="button" class="w-32 hover:scale-125 ease-in-out duration-300" (click)="togo6(); sterio4()" (mouseenter)="jump()">
            
        </div>
        <!-- <div class=" hover:bg-gradient-to-r from-red-600 via-pink-600 to-yellow-500 p-1 duration-500 ease-in-out rounded-lg">
            <button class="p-2 text-white rounded-lg bg-red-500 hover:text-red-900 hover:bg-white duration-100 ease-in-out transition  ">Contact</button>
        </div> -->

        <!-- <div>
            <button class="flex items-center gap-1 p-2 text-white rounded-lg bg-red-600 hover:text-black hover:bg-red-800 duration-100 ease-in-out transition"
                (click)="togo4()">Contact <span class="material-symbols-outlined">rocket_launch</span></button>
        </div> -->

        <div>
            <button class="flex items-center border-2 border-black p-2  text-black rounded-lg bg-white hover:text-red-500 hover:drop-shadow-5xl hover:border-red-600 duration-100 ease-in-out transition"
                (click)="togo4()" (click)="sterio2()" (mouseenter)="jump2()" data-aos="fade-left" data-aos-duration="1000">Contact
            <img src="rk.gif" alt="rocket" class="w-6 h-6">
            </button>
        </div>

        
    </div>


    <!-- hover:shadow-blue-500/50 hover:scale-105 transition duration-300 ease-in-out -->

</div>