<div class="bg-black flex-row items-center py-10 px-6 grid place-items-center h-screen">

    <div class="bg-slate-950 p-4 rounded-lg w-2/4 border-2 border-orange-500 border-collapse">
        <button class="hover:scale-150 ease-in-out duration-300" (click)="togo1(); sterio1()" (mouseenter)="jump()">
            <img src="ninja.png" alt="Home" class="w-9 h-9 ">
        </button>
        <div class="font-joto text-5xl flex flex-col items-center text-white">
            <p> About <span [ngClass]="{ 'text-orange-500': name === 'ROCXSTAR', 'text-white': name === 'ASHIK' }"
                    (mouseenter)="changeName('ROCXSTAR')" (mouseleave)="changeName('ASHIK')" (mouseenter)="touch()"> {{ name }}</span></p>
        </div>

        <div class="relative">
            <img src="mine1.jpeg" alt="Image" class="rounded-lg opacity-90 ">
            <p
                class="leading-[2.1] font-robo absolute inset-0 flex items-center justify-center text-2xl text-center text-bold">
                I have a deep love for purple, savor white sauce pasta, and enjoy immersing myself in hip-hop music.
                Drawing, whether it's designing or sketches, is a passion of mine, and I love traveling the world to
                uncover
                its hidden wonders.With a keen eye for design, a heart for pets, and as a proud nyctophile,
                I truly embrace life’s creative and tranquil moments.
            </p>
        </div>

    </div>

    <!-- <div class="flex flex-row w-32">
        <img src="play.png">
        <img src="pause.png">
    </div> -->

    
    
</div>