<div class="coffee bg-black w-full h-full">
  <!-- <img src="bg.png" class="w-screen h-screen object-cover"> -->
  <div class="mine flex flex-row">
    <a href="#" class="logo">
      <img src="cofe.png" class="w-52 h-32 hover:scale-125 duration-300 ease-in-out">
    </a>

    <ul class="navlist">
      <li><a>About</a></li>
      <li><a>Membership</a></li>
      <li><a>Events</a></li>
      <li><a>Contact</a></li>
    </ul>

    <div class="navlist right-content">
      <a class="nav-btn">Sign In</a>
      <div class="bx bx-menu" id="menu-icon"></div>
    </div>
  </div>

  <section class="hero">
    <div class="hero-text text-white">
      <h5>#Coffee for hot days</h5>
      <h1>- Cold Brew</h1>
      <p>Boots your productivity and build your mood with a glass of coffee in the morning.
        Coffee has a stimulating effect.</p>

      <div class="main-hero">
        <a class="btn">Order Now</a>
        <a class="price">$16.00 | <span>Regular Price</span></a>
      </div>
    </div>
    <div class="hero-img">
      <img src="hero.png">
    </div>
  </section>

  <!-- <div class="icons">
    <a><i class="ri-instagram-line"></i></a>
    <a><i class="ri-youtube-line"></i></a>
    <a><i class="ri-twitter-x-line"></i></a>
  </div> -->


  <script src="js/script.js"></script>


</div>